


<div class="page_wrapper">
 
<div class="invite clearfix">
     
     
		 <div class="invite_content">


		 	     <select invite="invite_email">

		 	     	<%= invite.each do |invite| %>
			 
			 	     <option value="<%= invite.email %>"><%= invite.email %></option>

			 	       
			 	       <% end%>

                </select>

         </div>

 </div>

  </div>
    
