


<div class="page_wrapper">
 
<div class="invite clearfix">
     
     
		 <div class="invite_content">


		 	   <div><%=link_to("{invite.notifications.count} - Invitation Notice", notifications_path ) %> </div><br>


        
  
   </div>


    
</div>

</div>
