
<div id="page_wrapper">


    
       <div style="border-bottom: 1px solid lightgrey; padding-bottom: 0.5em">


			  	 <figure>
				   <div>
				     <%= image_tag party.picture.url(:medium) %>
				   </div>
				   <h3><%= link_to (party.title), "" %></h3>
			     </figure>
			   
    </div>

</div>







