<div id="page_wrapper">

<%= link_to "Public", root_path %>


   
						
					    
	
	<h4> Start with Creating a party</h4>

	<%= render 'parties/form' %><br>

	
   
	
   <p> Go to Your Invited Party Gists </p><br>
   
    <%= render @profile.user.visitors %>



 
    
   </div>
          


	
   

	