<div id="page_wrapper">
	<div class="comment clearfix">

		 <div class="comment_content">

			
			   <p class="comment_body"><strong><%= comment.name %> &nbsp :- &nbsp </strong><%= comment.body %></p>
			   <p class="comment_time"><%= comment.created_at %></p>



			 
			   
	           

	           
                  
        </div>
      
    </div>

</div>



