<div id="page_wrapper">


    
       <div style="border-bottom: 1px solid lightgrey; padding-bottom: 0.5em">


			  	 <figure>
				   <div>
				     <%= image_tag visitor.party.picture.url(:medium) if visitor.party %>
				   </div>
				   <h3><%= link_to (visitor.party.title), visitor_gists_path(:visitor_id => visitor.id) if visitor.party  %></h3>
			     </figure>
			         


    </div>

</div>





