<div id="page_wrapper">
	

		 <div class="gist_content">


				<p><%= gist.owner %></p>
	   

		 	   <%= image_tag(gist.image.url(:large)) %><br>

			 				 	
			<%= gist.caption %>


			 </div>


</div>


                           