<div id="page_wrapper">
	

		 <div class="gist_content">


				<%= image_tag(gist.user.profile.image.url(:thumb)) %>
	   

		 	   <%= image_tag(gist.image.url(:large)) %>

			 				 	
			<%= gist.caption %>


			 </div>


</div>


                           