

			<p><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></p>
				     <p><%= link_to 'mYHome_Page', profiles_path  %></p>
<p><b><%= link_to "Welcome - Load YOUR PARTY", new_party_path %></b></p>